<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
   <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    </head>
    
    
    <body>
        <div id ="loginCanvass">
            <h1 id="companyName">TaraTari</h1>
            <center> <p>An Online Food Delivery Point</p></center>
            <center><form id="loginForm">
                <label><input id="loginName" type="text" placeholder="Email Id" required></label>
                <label><input id="loginPassword" type="password" placeholder="Login Password" required></label>
                <label><input type="submit" id="loginButton" value="LOGIN"></label>
                <label><a href='signup.ejs'><input type="Button" id="signupButton" value="JOIN US"></a></label>
                </form></center>
           
        </div>
    </body>
</html>