<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
   <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    </head>
    <body>
        <div id ="loginCanvass">
            <h1 id="companyName">TaraTari</h1>
            <center> <p>An Online Food Delivery Point</p></center>
            <center><form id="loginForm">
                <label><input id="signupName" type="text" placeholder="Name" required></label>
                <label><input id="signupID" type="text" placeholder="Email Id" required></label>
                <label><input id="signupPassword" type="text" placeholder="New Password" required></label>
                 <label><input id="signupPassword" type="text" placeholder="Confirm Password" required></label>
                <label><input type="submit" id="signupButton" value="JOIN US" required></label>
                <label><a href='index.ejs'><input type="Button" id="loginButton" value="LOGIN"></a></label>
                </form></center>
           
        </div>
    </body>
</html>